# encoding: utf-8

<%= form_for @item do |f| %>

<table id="new_table" border="0">
  <tr>
    <th>タイトル</th>
    <td><%= f.text_field :title %></td>
  </tr>

  <tr>
    <th>概要</th>
    <td><%= f.text_area :overview, :rows =>5 %></td>
  </tr>

  <tr>
    <th>確度</th>
    <td><%= f.select :reliability, {"A" =>"A", "B" =>"B", "C" =>"C"} %></td>
  </tr>

  <tr>
    <th>&nbsp;</th>
    <td style="text-align: center;">&nbsp;</td>
  </tr>

</table>

<%= f.submit '登録', :confirm =>'この内容で登録しますか？'  %>
<% end %>

